#mainHeading {
    background: #ffffff;
    height: 94px;
    border-bottom: 4px solid #cccccc;
}

#heading{
    width:960px;
    margin: auto;
}

/*background color*/
body {
   background-image: url("../images/norwegian_rose_@2X.png");
   overflow:auto;
    
}

.headName{
    font-family: 'Georgia', Times, "Times New Roman", serif;
    text-align: center;
    background:#4aaaa5;
    color: white;
    float:left;
    padding: 14px;

}
hr {
    opacity: 0.2;
    margin-top: 4px;
    width: 914px;
    background: #cccccc;
    padding: 1px;
}

.navlinks {
    font-family: 'Georgia', Times, "Times New Roman", serif;
    float: right;
    padding-top: 37px;
    color:#777777;
    
}

.verticalBar {
    opacity: 0.1;
}

a {
 color: #777777;
 margin-left: 3px;
 margin-right: 3px;

}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

#container {
    background: #ffffff;
    width: 960px;
    margin: auto;
    margin-top: 30px;
    height: auto;
    display: block;

}
img {       /* for About page image*/
    float: left;
    padding:30px;
}

h2 {
    font-family: 'Georgia', Times, "Times New Roman", serif;
    float: left;
    color:#4aaaa5;
    margin-left: 20px;
    margin-top: 45px;
}

#pagetitle {
    width: 100%;
    height: 85px;
}

.para {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color:#777777;
    height:350px;
    padding: 3px;
    text-align: justify;
    margin:20px;
    
}

footer{
    background: #666666;
    text-align:center;
    height: 40px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    color:white;
    font-size:10px;
    
}

#footline {
    border-top: 8px solid #4aaaa5
}

/*#contact{
padding: 34px;
background:#ffffff;
width: 960px;
margin: auto;
margin-top: 40px;
}*/

.form {
    padding: 32px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color:#777777;
}

input[type=text] {
    width: 896px;
    height: 20px;
 }

 input[type=message] {
    width: 896px;
    height: 100px;

 }

 input[type=button] {
    background-color: #4aaaa5;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
 }

 #titlepage {
    width: 100%;
    height: 85px;
 }

 #hangman{
     background-image: url("../images/Hangman.jpg");
     width: 210px;
     height: 135px;
     margin-left: 20px;
     margin-right:20px;

 }

 #rpgGame{
     background-image: url("../images/RPG Game.jpg");
     width: 210px;
     height: 135px;
     margin-left: 20px;
     margin-right:20px;



 }
 #triviaGame{
     background-image: url("../images/Trivia Game.jpg");
     width: 210px;
     height: 135px;
     margin-left: 20px;
     margin-right:20px;

 }
 #rutgers{
     background-image: url("../images/Rutgers Info widget.jpg");
     width: 210px;
     height: 135px;
     margin-left: 20px;
     margin-right:20px;

 }
 #rock{
     background-image: url("../images/Rock paper scissors.jpg");
     width: 210px;
     height: 135px;
     margin-left: 20px;
     margin-right:20px;
 }

.fig-label{
    background: #4aaaa5;
    text-align: center;
    color: white;
    font-size: 14px;
    padding: 12px;
    position: relative;
    top: 88px;
    width: 186px;
    margin-left: auto;
}


 #tablecontent{
     padding-bottom: 5px;
     padding-left: 5px;
 }